
.header {
    text-align: center;
    color:black;
    margin-top: 15px;  
}

.container {
    width: 80%;
    margin-left: 130px;
    margin-top: 80px;
    border-radius: 25px;
    background: linear-gradient(90deg, #9a39fa, #df44f3);
    height: 430px;
}
ul {
    list-style-type: none;
    margin: 10px;
    padding: 0;
    overflow: hidden;
    
  }
li {
    display: inline;
    float:left;
    margin-top: 30px;
  }

.dropbtn {
    background-color: rgba(0, 0, 0, 0.808);
    color: white;
    padding: 16px;
    width: 130px;
    margin-bottom: 10px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
  
}

.icon{
    background-color: rgba(0, 0, 0, 0.808);
    color: white;
    padding: 10px;
    width: 50px;
    border: none;
    float: center;
    border-radius: 15%; 
    align-items: center;
    justify-content: center;    
    margin-top: 40px;
    margin-right: 50px;
    margin-left: 130px;
}  

input:hover {
    display: block;
}

.dropdown input{
    display: block;
    border: black thin;
    padding: 10px;
}

.rate {
    background-color: rgba(0, 0, 0, 0.808);
    border: none;
    color: white;
    border-radius: 30px;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 280px;
    padding: 0 10px;
    float: center;
    margin-top: 10px;
    margin-left: 350px;
}

.label{
    font-size: 25px;
}

input{
    width: 250px;
    border-radius: 5px;
}